* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "poppins", Courier, monospace;
  background-image: url(images/index-2-background.jpeg);
  background-size: cover;
  background-position: center;
  color: white;
  opacity: 0;
  transition: opacity 2s ease;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 25vh 0 0 0;
}
#rightTextP {
  white-space: pre-line;
  margin: 0 0 40px 0;
}
#planetImage {
  margin: 8vh 0 0 0;
  animation: rotateInfinite 15s linear infinite;
}
@keyframes rotateInfinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 300;
  opacity: 80%;
}
#planetName {
  font-size: 17vh;
  font-weight: 100;
  font-family: "Libertinus Mono", monospace;
  margin: 10px 0 20px 0;
}
.top > span {
  cursor: pointer;
  font-weight: 300;
}
.top > span:hover {
  color: #f0f0f0;
  text-decoration: underline;
}
#leftTextH1 {
  font-size: 36px;
}
#distance1p {
  margin: 40px 0 0 0;
}
#distance2p {
  margin: 40px 0 0 0;
}
.distance {
  display: flex;
  flex-direction: row;
  gap: 10vh;
}
#distance1h1 {
  font-size: 24px;
  font-weight: 500;
}
#distance2h1 {
  font-size: 24px;
  font-weight: 500;
}
